@use "./utils/" as u;
@forward "./globals";

main {
    margin-top: 20px;
    #Projects_container {
        display: flex;
        background-color: var(--primary-color-light);
        padding: 1rem;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: var(--shadow);
        .small_top_bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 97%;
            p {
                font-size: 13px;
                @include u.phone-landscape-style {
                    display: none;
                }
            }
            ul {
                display: flex;
                gap: 1rem;
                a {
                    font-size: 13px;
                    color: var(--non-selected-color);
                    @include u.phone-landscape-style {
                        font-size: 12px;
                    }
                }
            }
        }
        .projects {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 23%);
            grid-column-gap: 2%;
            grid-row-gap: 30px;
            justify-content: center;
            align-items: center;
            padding-bottom: 0.5rem;
            @include u.tablet-style {
                grid-template-columns: repeat(3, 30%);
                grid-column-gap: 4%;
            }
            @include u.phone-landscape-style {
                grid-template-columns: repeat(2, 45%);
                grid-column-gap: 5%;
            }
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                .porject_item {
                    box-shadow: var(--shadow-project);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0px;
                    background-color: var(--primary-color-light);
                    max-width: 250px;
                    padding-bottom: 20px;
                    img {
                        width: 100%;
                        height: 49%;
                    }

                    h4 {
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 13px;
                        width: 90%;
                        font-weight: 600;
                        @include u.tablet-style {
                            font-size: 12px;
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(0, 0, 0, 0);
                        border: 1px solid var(--accent-color-light);
                        color: var(--text-color);
                        height: 30px;
                        width: 90%;
                        font-size: 12px;
                        &:hover {
                            background-color: var(--accent-color);
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
